
<!-- About project -->
<section class="about text-center h-100" id="about">
    <div class="container">
       <div class="row">
          <div class="col-lg-12 mx-auto fadeInUp wow" data-wow-duration="2s">
             <div class="section-heading mx-auto">
                <h2 class="text-center">О проекте</h2>
                <hr style="width: 50%">
             </div>
             <div class="col-lg-9 offset-lg-2 mx-auto">
                <div class="section-heading mx-auto">
                   <h3>«Каменная архитектура Иркутска» — это не просто экскурсия!</h3>

             <p class="mt-5">
                      Это сочетание истории и технологий, виртуальных и реальных миров. 
                      Следуя по маршруту, вы получаете не только информацию в 
                      привычном виде, но и находите интересные артефакты, спрятанные 
                      по ту сторону реального мира – в виртуальном пространстве! 
                      И чтобы их увидеть и поймать, необходимо иметь всего лишь 
                      телефон и <a href="#download" class="js-scroll-trigger">
                         <b>специальное приложение</b></a>.
                      
                      <p> Мы подготовили для вас  
                         <a href="#registration" class="js-scroll-trigger">
                            <b>План действий</b></a>. 
                            Следуя ему, вы проведете время с пользой и интересом – 
                            окунетесь в атмосферу старого города, узнаете интересные 
                            истории о зданиях и соберете свои артефакты.
                            По окончанию экскурсии, вы сможете увидеть результаты: 
                            за какое время вы прошли и какие артефакты собрали. 
                            Если окажется, что вы собрали не всё – можете вернуться 
                            на маршрут позже и найти недостающие элементы!
                      <h3 class="text-left mt-4">Удачи, друзья!</h3> </p>
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>