<!--  Application -->
<section class="download text-center h-80 mt-5" style="%" id="download">
    <div class="container ">
       <div class="row mt-5">
          <div class="col-lg-6 mx-auto fadeInUp wow" data-wow-duration="2s">
           <h2 style="font-size:4.5vh;margin-top: 15%"> Скачать приложение 
            для экскурсии</h2>
           <a href="https://app.nti-ar.ru/download" class="mt-3 btn btn-outline btn-xl" 
            style=" color: rgb(36,8,12);font-size: 16px;font-weight: 700;">
            Скачать для Android</a>
             </div>
           <div class="col-lg-6 mx-auto fadeInUp wow" data-wow-duration="2s">  
               <img src="img/qr.svg" width="60%" alt="QR img">
          </div>
       </div>
    </div>
</section>