<!-- Contact -->
<section class="contact text-center h-70" id="contact">
    <div class="container">
        <div class="section-heading mx-auto mb-5">
                <h2 class="text-center">Контакты</h2>
             </div>
       <div class="row mt-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" >
             
          <h4><i class="fas fa-map-marker-alt"></i> Адрес</h4>
          <p class="text-center">Научная библиотека им. 
             В.Г. Распутина, Лермонтова 124</p>
          </div>

          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
             
          <h4><i class="fas fa-phone"></i> Телефон</h4>
          <p class="text-center">+7(999)999-99-99</p>
          </div>

          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h4><i class="fab fa-vk"></i> Группа в ВК</h4>
          <p class="text-center"><a href="https://vk.com/nti_ar">
            vk.com/nti_ar</a></p>
          </div>

          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            
          <h4><i class="fas fa-envelope"></i> Почта</h4>
          <p class="text-center"><a href="mailto:nti_ar@yandex.ru">nti_ar@yandex.ru</a></p>
          </div>
       </div>
    </div>
</section>

<footer>
    <div class="container">
       <p>&copy; Олимпиада НТИ 2019. <br> Профиль "Технологии дополненной реальности"</p>
    </div>
 </footer>
 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <!-- Plugin JavaScript  -->
 <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
 <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="vendor/jquery.maskedinput.min.js"></script>
 <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
 <script src="vendor/WOW/dist/wow.min.js"></script>
 <!-- Custom scripts for this template -->
 <script src="js/ar.js"></script>
 <script src="js/reg.js"></script>
 <script src="js/wow.js"></script>
</body>
</html>
    