
<!-- Infrastructure -->
<section class="infrastructure text-center h-200" id="infrastructure">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="palace-card rounded-circle fadeInUp wow" 
               data-wow-duration="2s">
                <img class="card-img img-fluid rounded-circle" 
                  style="padding-top:10px;" src="img/f.svg" 
                  alt="First img">
                <div class="palace-card-overlay">
                   <div class="media">
                      <div class="media-body">
                         <h4>Дом И.М. Файнберга</h4>
                         <p>Памятник архитектуры г.Иркутска. Время строительства — 
                            <b>1900-1902</b>. Находится по адресу: 
                            <b>ул. Халтурина, 1</b>. </p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row ">
                <div class="col-lg-12 mt-4">
                   <div class="palace-card rounded-circle fadeInUp wow" 
                     data-wow-duration="2s">
                      <img class="card-img img-fluid rounded-circle" src="img/baz.svg" 
                        alt="Second img">
                      <div class="palace-card-overlay">
                         <div class="media">
                            <div class="media-body">
                               <h4>Дом купца И.И. Базанова</h4>
                               <p>Здание построено в <b>1880–1883</b> годах. 
                                 Воспитательный дом основан на средства 
                                 золотопромышленника И.И. Базанова. Находится по 
                                 адресу: <b>ул. Свердлова, 14</b>.</p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-lg-10 offset-lg-1">
                   <div class="palace-content">
                      <h3>Описание инфраструктуры</h3>
                      <hr style="width: 70%">
                      <p>Краткая информация о наиболее интересных каменных усадьбах и 
                         особняках <b>Иркутска</b></p>
                   </div>
                </div>
             </div>
             <div class="palace-card rounded-circle fadeInUp wow" 
               data-wow-duration="2s">
                <img class="card-img img-fluid rounded-circle"  src="img/kraev.svg" 
                  alt="Third img">
                <div class="palace-card-overlay">
                   <div class="media">
                      <div class="media-body">
                         <h4>Иркутский областной краеведческий музей</h4>
                         <p> Возведено в <b>1882–1883</b> гг. по проекту 
                           инженер-архитектора Г.В.Розен. Ансамбль музея включает 
                           в себя само здание музея, библиотеку и ворота, 
                           выполненные в мавританском стиле. 
                           Находится по адресу: <b>ул. К.Маркса, 2</b>.</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-lg-12 mt-4">
                   <div class="palace-card rounded-circle fadeInUp wow" 
                     data-wow-duration="2s" >
                      <img class="card-img rounded-circle" 
                        src="img/fr3.svg" alt="Fourth img">
                      <div class="palace-card-overlay">
                         <div class="media">
                            <div class="media-body">
                               <h4>Особняк Н.А. Второва</h4>
                               <p>Памятник архитектуры и истории г.Иркутска. Был 
                                  построен в <b>1897</b> году. Владелец А.Ф. 
                                  Второв - московский купец-миллионер, имевший 
                                  торговые предприятия и дома во многих городах 
                                  России. Находится по адресу: 
                                  <b>ул. Желябова, 5</b>.</p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>