<!-- Main page -->
<header class="masthead h-100" id="home">
    <div class="container ">
       <div class="row mt-5">
          <div class="col-lg-6 col-md-6 my-auto">
             <div class="header-content mt-3">
                <h1 class="text-left ">Каменная <br>  архитектура Иркутска</h1>
                <p class="text-justify  mt-3">Дорогой друг, добро пожаловать на улочки 
                   Иркутска. Скоро ты начнешь свое путешествие и, проходя маршрут, 
                   познакомишься с каменной архитектурой старого города. Узнаешь 
                   немного истории и изначальные предназначения зданий.</p>
             </div>
             <div class="header-content text-left mx-auto">
                <a href="#about" class=" mt-3 btn btn-outline btn-xl 
                js-scroll-trigger" style="">Подробнее об экскурсии</a>
             </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-5  my-auto text-center">
             <img src="logo.svg" class="logo" alt="Main img">
          </div>
       </div>
    </div>
</header>