
<!-- About Quests -->
<section class="quest text-center h-90" id="quest">
    <div class="container" >
       <h2 class="text-center"> Маршрут </h2>
       <hr style="width: 50%">
       <div class="row">
          <div class="col-lg-6 my-4 fadeInUp wow" data-wow-duration="2s" >
             <p class="headline"> Вы посетите: </p>
             <p class="ml-4"> <i class="fas fa-map-marker-alt"></i> 
                Доходный дом Щербинина <br>
                <i class="fas fa-map-marker-alt"></i> 
                Дом купца И.И. Базанова <br>
                <i class="fas fa-map-marker-alt"></i> 
                Дом Базанова (факультетские клиники ИГМУ)  <br>
                <i class="fas fa-map-marker-alt"></i> 
                Иркутский областной краеведческий музей<br>
                <i class="fas fa-map-marker-alt"></i> 
                Усадьба Степанченкова <br>
                <i class="fas fa-map-marker-alt"></i> 
                Иркутская областная филармония <br>
                <i class="fas fa-map-marker-alt"></i> 
                Дом И.М. Файнберга <br>
                <i class="fas fa-map-marker-alt"></i> 
                Городского училище им. Н.В. Гоголя <br>
                <i class="fas fa-map-marker-alt"></i> 
                Особняк Н.А. Второва <br>
                <i class="fas fa-map-marker-alt"></i> 
                Иркутское театральное училище
             </p>
             <p class="headline"> Время экскурсии:</p>
             <p class="ml-4"><i class="fas fa-clock"></i> 3 часа</p>
             <a href="#registration" class="mt-3 btn btn-outline btn-xl 
               js-scroll-trigger" style=" color: rgb(36,8,12);font-size: 16px;
               font-weight: 700;">Зарегистрироваться на экскурсию</a>
          </div>
          <div class="col-lg-6 my-4 fadeInUp wow" data-wow-duration="2s">
             <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%
                          3A8f1e0d0bf2c45829f4f7cdab4509c3c70c788a1129e71d
                          850303b4c804c4d3a2&amp;source=constructor" 
                     width="100%" height="490" frameborder=0 ></iframe>
          </div>
       </div>
    </div>
 </section>